<html>
<head>
    <title>Add Contact Page</title>
</head>
<body>
    <h1>Address Book</h1>
    <h3>Successfully Added Contact!</h3>
    <h4>{{ new_contact.getName }}</h4>
    <ul>
        <li>{{ new_contact.getPhoneNumber }}</li>
        <li>{{ new_contact.getAddress }}</li>
    <ul>
    <a href="/"><button>Home</button></a>
</body>
</html>
