{{ include('base.html.twig') }}

<html>
<head>
    <title>Address Book</title>
</head>
<body>
  <div class='container'>
    <header class="well">
      <h1>Address Book Home</h1>
      <form action='/search' id='search'>
        <input name='search' id='userSearch' class='search' type='text' placeholder='contact name'>
        <button type='submit' class='btn btn-info'>Search</button>
      </form>
    </header>
    <h2>Fill out the form to add contacts</h2>
    <div class='row'>
      <div class='col-md-12'>
        <form action='/create_contact' method='post'>
            <label for='contact_name'>New Contact Name: </label>
            <input name='contact_name' type='text' required>
            <label for='contact_phone'>Phone Number: </label>
            <input name='contact_phone' type='number'>
            <label for='contact_address'>Address: </label>
            <input name='contact_address' type='text'>
            <button type='submit' class='btn btn-primary'>Add Contact</button>
        </form>
      </div>
    </div> <!-- Row closing tag -->
    <div class='form-group'>
      <form action='/delete_contacts' method='post'>
          <br>
          <button type='submit' class='btn btn-danger'>Delete Current Contacts</button>
      </form>
    </div>
    {% if contacts is not empty %}
      <a href='/edit-contact'><button type='button'  class='btn btn-success'>Edit contacts</button></a>
      <h2>Contacts:</h2>
      <div class="row">
        <div class='col-md-12 contacts'>
          <div class="row">
            <div class='col-md-4'>
              <h3>Name</h3>
            </div>
            <div class='col-md-4' id='number-col'>
              <h3>Number<h3>
            </div>
            <div class='col-md-4' id='address-col'>
              <h3>Address<h3>
            </div>
          </div> <!-- Closing div for ROW -->
        </div> <!-- Closing div for col-md-12 -->
      </div> <!-- Closing div for ROW -->
    {% endif %}
    <div class="row">
      <div class='col-md-12 contact-data'>
        <div class="row">
          {% for contact in contacts %}
            <div class='col-md-4 name-col'>
              <div class="row">
                <div class="col-md-6">
                  <!-- <form action='/edit-contact'>
                    {% set contactName = contact.getName %}
                    <input type='hidden' name='edit-contact'>
                    <button type='submit'>edit</button>
                  </form> -->
                </div>
                <div class="col-md-6">
                  {{ contact.getName }}
                </div>
              </div>
            </div>
            <div class='col-md-4 number-col'>
              {% if contact.getPhoneNumber is empty %}
                "no contact number"
              {% endif %}
              {{ contact.getPhoneNumber }}
            </div>
            <div class='col-md-4 address-col'>
              {% if contact.getAddress is empty %}
                "no contact address"
              {% endif %}
              {{ contact.getAddress }}
            </div>
          {% endfor %}
        </div> <!-- Closing div for ROW -->
      </div> <!-- Closing div for col-md-12 -->
    </div> <!-- Closing div for ROW -->
    <form action='/delete-contact' method='post' id='delete-contact'>
        <div class='form-group'>
            <label for='delete-contact'>Delete a Contact: </label>
            <input name='delete-contact' type='text' placeholder="Contact name must be an exact match" size='35px'>
            <button type='submit' class='btn btn-warning'>Delete</button>
        </div>
    </form>
  </div> <!-- closing div for container -->
</body>
</html>
